ion-item {
  background: transparent;
}
ion-button {
  --background: rgb(28, 37, 204) !important;
  color: white !important;
}

.item .item-input {
  background-color: transparent;
}

ion-input {
  background-color: white !important;
  background: white !important;
}

ion-input {
  --placeholder-color: rgb(44, 72, 167);
  --placeholder-opacity: 1;
}

.rounded {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
}

ion-item ion-label,
ion-item ion-icon {
  margin: 2px;
}
