<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid fixed="true">
      <ion-img src="../../../assets/image/new-logo.jpg" style="height: 300px; background-color: white;">
      </ion-img><br>
      <ion-row style="margin-top: 20px;" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input autocomplete="on" name="email" type="Utente" placeholder="Email" [(ngModel)]="userName"
                required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <app-show-hide-password>
                <ion-input autocomplete="on" name="password" type="password" placeholder="Password"
                  [(ngModel)]="password" required>
                </ion-input>
              </app-show-hide-password>

            </ion-item>
          </div><br>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding" size="11" style="padding-top: 50px;">
          <ion-button shape="round" type="submit" [disabled]="form.invalid" expand="block">
            Login
          </ion-button>
        </ion-col>
      </ion-row><br>
    </ion-grid>
  </form>
</ion-content>
<ion-footer class="ion-no-border" mode="md | ios">
  <ion-toolbar>
    <ion-title class="text-set">ASPI Information Technology Srl
      &nbsp;&nbsp;Ver 1.0
    </ion-title>
  </ion-toolbar>
</ion-footer>
