<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs" icon="chevron-back-outline" text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>Info sviluppatore</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img src="../../assets/image/new-logo-tec.PNG" />
      <ion-card-header>
        <ion-card-subtitle>Web developer</ion-card-subtitle>
        <ion-card-title>Francesco Greco</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>