body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.red {
  border-right: 15px solid #d15b5b;
}
.green {
  border-right: 15px solid green;
}

.orange {
  border-right: 15px solid orange;
}

.custom-fab {
  width: 60px !important;
  height: 60px !important;
}

ion-toolbar,
ion-header {
  --min-height: 40px;
}

.new-background-color {
  --background: rgb(44, 72, 167);
  --color: white;
}
