<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Assegnati
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Assegnati</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon src="../../assets/icon/filter-circle-outline.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="custom-fab" color="dark" (click)="showFilter('province')">
        Prov.
      </ion-fab-button>
      <ion-fab-button class="custom-fab" color="dark" (click)="showFilter('client')">
        Cliente
      </ion-fab-button>
      <ion-fab-button class="custom-fab" color="dark" (click)="showFilter('request_date')">
        Richiesta
      </ion-fab-button>
      <ion-fab-button class="custom-fab" color="dark" (click)="showFilter('planned_date')">
        Pianif.
      </ion-fab-button>
      <ion-fab-button class="custom-fab" color="dark" (click)="showFilter('common')">
        Comune
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ng-container *ngFor="let incident of dati">

      <!-- <ion-card *ngIf="incident.getClosed() == false && incident.planned_date == ''" class="red"> -->
      <ion-card *ngIf="incident.getClosed() == false"
        [ngClass]="incident.planned_date == '' || incident.planned_date == null ? 'red' : ((incident.planned_date | date: 'dd/MM/yyyy') != now ? 'orange' : 'green')">
        <ion-card-header class="ion-no-padding">
          <ion-card-subtitle style="height: 40px; margin-top: -8px !important;" class="ion-no-padding">
            <ion-item class="ion-no-padding" [color]=" incident.id_incident % 2 !=0 ? 'primary' : 'primary'">
              <ion-reorder slot="end"></ion-reorder>
              <ion-label class="incident-text" style="text-align: left; z-index: 150; padding-left: 10px;">
                <b>{{incident.incident_number}}</b>
              </ion-label>
              <!-- <ion-button color="light" style="font-weight: bold; opacity: 0.5;" slot="end" (click)="test(incident)"> -->
              <!-- <ion-icon name="eye"></ion-icon> -->
              <!-- </ion-button> -->
            </ion-item>
          </ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-header class="ion-no-padding" translucent (click)="test(incident)"> -->
        <ion-card-content class="ion-no-padding" style="padding-left: -40px; padding-bottom: 10px; padding-top: -20px;">
          <ion-item-sliding #slidingItem>

            <ion-item (click)="test(incident, slidingItem)">
              <ion-label>
                <p class="ion-no-padding ion-text-wrap" style="text-align: left;">
                  <ion-text style="color:#c0c0c0;">Tk ext:</ion-text><b>{{incident.incident_number_internal ||
                    'ND'}}</b>
                  <ion-text style="color:#0021bf;"> | </ion-text><b>{{incident.device || 'ND'}}</b>
                  <ion-text style="color:#0021bf;"> | </ion-text><b>{{incident.client || 'ND'}}</b>
                  <ion-text style="color:#c0c0c0;"> Contatto:</ion-text> <b>{{incident.contact_name || 'ND'}}</b>
                  <ion-text style="color:#0021bf;"> | </ion-text> <b>{{incident.address || 'ND'}}</b>
                  <ion-text style="color:#0021bf;"> | </ion-text> <b>{{incident.common || 'ND'}}</b>
                  <ion-text style="color:#c0c0c0;"> Pianifica:</ion-text> <b>{{(incident.planned_date | date:
                    'dd/MM/yyyy') || 'ND'}}</b>
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="closeIncident(incident, slidingItem)">
                <ion-icon name="log-in" size="large">
                </ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options>
              <ion-item-option color="primary" (click)="callCellular(incident.phone_1, slidingItem)">
                <ion-icon name="call-outline" size="large"></ion-icon>
              </ion-item-option>
              <ion-item-option color="secondary" (click)="plannedIncident(incident)">
                <ion-icon name="calendar-outline" size="large"></ion-icon>
              </ion-item-option>
              <ion-item-option color="success" (click)="goAddress(incident, slidingItem)">
                <ion-icon name="navigate" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card-content>
        <ion-row style="background-color: #C21212;  margin-top: -12px;">
          <ion-col *ngIf="(incident.dataMax != undefined)" align-self-right text-right>
            <ion-note style="color: black;">
              <div style="text-align: center; color: white !important;">
                <!-- <ion-icon name='calendar-outline'></ion-icon> -->
                SLA: <b>{{incident.dataMax | date: 'dd/MM/yyyy'}} ore {{incident.oraMax | date: 'HH:mm'
                  :'UTC'}}</b>
              </div>
              <div style="text-align: center; color: white; font-weight: bold;">
                {{calcolaTime(incident)}}
              </div>
            </ion-note>
          </ion-col>
        </ion-row>
        <!-- </ion-card-header> -->
      </ion-card>
    </ng-container>
  </ion-reorder-group>
</ion-content>
