body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.red {
  border-right: 7px solid #d15b5b;
}
.green {
  border-right: 7px solid green;
}

.orange {
  border-right: 7px solid orange;
}

.custom-fab {
  width: 60px !important;
  height: 60px !important;
}

ion-toolbar,
ion-header {
  --min-height: 40px;
}

.new-background-color {
  --background: rgb(44, 72, 167);
  --color: white;
}

@media (max-width: 320px) and (min-width: 180px) {
  .incident-text {
    font-size: 0.9rem !important;
    // color: yellow;
  }
}

@media (max-width: 480px) and (min-width: 321px) {
  .incident-text {
    font-size: 1.1rem !important;
    // color: red;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .incident-text {
    font-size: 1.1rem !important;
    // color: green;
  }
}

@media (max-width: 1080px) and (min-width: 769px) {
  .incident-text {
    font-size: 1.1rem !important;
    // color: blueviolet;
  }
}
