<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      Assegnati
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="font-size: 1rem;">Assegnati</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let incident of dati" [ngClass]="incident.id % 2 !=0 ? 'red' : 'green'">
    <ion-item [color]=" incident.id % 2 !=0 ? 'primary' : 'primary'">
      <ion-label style="text-align: left;"><b>Ticket: {{incident.incident_number}}</b></ion-label>
      <ion-button color="light" style="font-weight: bold;" slot="end" (click)="plannedIncident()">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-header class="ion-no-padding" translucent (click)="test(incident)">
      <ion-card-content class="ion-no-padding" style="padding-left: 10px; padding-bottom: 10px; padding-top: 5px;">
        Ticket esterno: <b>{{incident.incident_number_internal}}</b>
        <br>
        Device: <b>{{incident.device}}</b>
        <br>
        Cliente: <b>{{incident.client}}</b>
        <br>
        Contatto: <b>{{incident.contact_name}}</b>
        <br>
        Indirizzo: <b>{{incident.address}}</b>
        <br>
        Comune: <b>{{incident.common}}</b>
        <br>
        Data pianifica: <b>{{incident.appointment || '19/09/2021'}}</b>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
