<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="rounded"
      style="font-size: 1rem; color: white; background: rgb(44, 72, 167); font-weight: bold; box-shadow: rgb(255, 255, 255);">
      Ticket
      {{incident.incident_number}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="incident.is_close != true" color="success" (click)="closeIncident()">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-grid>
    <div>
      Dati intervento
    </div>
    <hr>
    <ion-row style="margin-top: -10px;">
      <ion-col size="4" color="primary">
        <ion-text color="primary">
          Tk esterno
        </ion-text>
      </ion-col>
      <ion-col>{{incident.incident_number_internal}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Cliente
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.client || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Indirizzo
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.address || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Comune
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.common || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Device
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.device || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Matricola
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.matricola || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Caus code
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.event_type || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Presa in carico
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.request_date | date: 'dd/MM/yyyy'}} ore {{ incident.requested_time | date: 'HH:mm'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Pianifica
        </ion-text>
      </ion-col>
      <ion-col>
        {{(incident.planned_date | date: 'dd/MM/yyyy') || '--'}}
      </ion-col>
    </ion-row>
    <div style="margin-top: 5px;">
      Dati contatto
    </div>
    <hr>
    <ion-row style="margin-top: -10px;">
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Contatto
        </ion-text>
      </ion-col>
      <ion-col>
        {{incident.contact_name || '--'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Telefono
        </ion-text>
      </ion-col>
      <ion-col>
        <span (click)="callCellular(incident.phone_1)">{{incident.phone_1 || '--'}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="color: lightgray;">
        <ion-text color="primary">
          Cellulare
        </ion-text>
      </ion-col>
      <ion-col>
        <span (click)="callCellular(incident.phone_2)">{{incident.phone_2 || '--'}}</span>
      </ion-col>
    </ion-row>
    <br>

    <div style="margin-top: -10px;">
      Sintomo
    </div>
    <hr>
    <ion-textarea readonly rows="3" value="{{incident.symptom}}">
    </ion-textarea>
    <br>
    <div style="margin-top: -10px;">
      Note RDI
    </div>
    <hr>
    <ion-textarea readonly rows="3" value="{{incident.incident_start_note || '--'}}"></ion-textarea>
    <br>
    <hr>
    <ion-row style="margin-top: -15px;">
      <ion-col class="ion-text-center" size="6">
        <ion-button expand="block" size="small" color="warning" style="color: white !important;">
          <!-- <ion-icon slot="icon-only" name="home"></ion-icon> -->
          AGGIORNA
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-button expand="block" size="small" color="medium" (click)="closeIncident()">
          <!-- <ion-icon slot="icon-only" name="home"></ion-icon> -->
          CHIUDI
        </ion-button>
      </ion-col>
    </ion-row>
    <hr>
    <!-- <ion-row>
      <ion-col size="4" style="color: lightgray;">Sintomo</ion-col>
      <ion-col class="ion-no-padding">
        <ion-textarea readonly rows="3" value="{{incident.symptom}}">
        </ion-textarea>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
        <ion-col size="4" style="color: lightgray;">Nota</ion-col>
        <ion-col class="ion-no-padding">
          <ion-textarea readonly rows="2" value="{{incident.incident_start_note || '--'}}">
          </ion-textarea>
        </ion-col>
      </ion-row> -->
    <div>
      Storico Interventi
    </div>
    <hr>
    <ion-card *ngFor="let nota of incident.incident_notes">
      <ion-card-header>
        <ion-card-title
          style="background-color: lightgray; font-size: 1.2rem; padding-top: 5px; padding-bottom: 5px; text-align: center;">
          Data:
          {{(nota.date_insert | date: 'dd/MM/yyyy') + ' ' +
          ( nota.time_insert | date: 'HH:mm')}}
        </ion-card-title>
        <ion-card-subtitle>Evento: {{nota.event_type}}</ion-card-subtitle>
        <ion-card-subtitle>Stato: {{nota.status}}</ion-card-subtitle>
        <ion-card-subtitle>Utente: {{nota.technical_name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{nota.text}}
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col>
        Nota
        <ion-row>
          <ion-col style="text-align: left;">
            <ion-textarea readonly rows="6" value="{{incident.incident_start_note}}"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <ion-list>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Ticket esterno</ion-label>
      <ion-input readonly value="{{incident.incident_number_internal}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Cliente</ion-label>
      <ion-input readonly value="{{incident.client}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Indirizzo</ion-label>
      <ion-input readonly value="{{incident.address}}"></ion-input>
      <ion-icon style="color: rgb(42, 163, 238); margin-left: -15px;" size="large" slot="end" ios="navigate"
        md="navigate">
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Comune</ion-label>
      <ion-input readonly value="{{incident.common}}"></ion-input>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Nome contatto</ion-label>
      <ion-input readonly value="{{incident.contact_name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-input readonly value="{{incident.phone_1}}" (click)="callCellular(incident.phone_1)"></ion-input>
            <ion-icon style="color: rgb(42, 163, 238); margin-left: -15px;" size="small" slot="start" ios="call"
              md="call">
            </ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-input readonly value="{{incident.phone_2}}" (click)="callCellular(incident.phone_2)"></ion-input>
            <ion-icon style="color: rgb(42, 163, 238); margin-left: -20px;" size="small" slot="start"
              ios="phone-portrait-outline" md="phone-portrait-outline"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Device</ion-label>
      <ion-input readonly value="{{incident.device}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color: rgb(42, 163, 238);" position="floating">Evento</ion-label>
      <ion-input readonly value="{{incident.event_type}}"></ion-input>
    </ion-item>
    <hr>
    <ion-item>
      <ion-row>
        <ion-col size="7">
          <ion-label style="color: rgb(42, 163, 238);" position="floating">Data ticket</ion-label>
          <ion-input readonly
            value="{{incident.request_date | date: 'dd/MM/yyyy'}} ore {{ incident.requested_time | date: 'HH:mm'}}">
          </ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-label style="color: rgb(42, 163, 238);" position="floating">Data pianifica</ion-label>
          <ion-input readonly value="{{incident.planned_date | date: 'dd/MM/yyyy' || '--'}}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <hr>
    <ion-item style="margin-top: -20px;">
      <h3 style="color: rgb(42, 163, 238);">Sintomo</h3>
    </ion-item>
    <ion-item>
      <ion-textarea readonly rows="6" cols="20" value="{{incident.symptom}}"></ion-textarea>
    </ion-item>
    <ion-item>
      <h3 style="color: rgb(42, 163, 238);">Nota</h3>
    </ion-item>
    <ion-item>
      <ion-textarea readonly rows="6" cols="20" value="{{incident.incident_start_note}}"></ion-textarea>
    </ion-item>
    <ion-item>
      <h3 style="color: rgb(42, 163, 238);">Storico interventi</h3>
    </ion-item>
    <ion-card *ngFor="let nota of incident.incident_notes">
      <ion-card-header>
        <ion-card-title
          style="background-color: lightgray; font-size: 1.2rem; padding-top: 5px; padding-bottom: 5px; text-align: center;">
          Data:
          {{(nota.date_insert | date: 'dd/MM/yyyy') + ' ' +
          ( nota.time_insert | date: 'HH:mm')}}
        </ion-card-title>
        <ion-card-subtitle>Evento: {{nota.event_type}}</ion-card-subtitle>
        <ion-card-subtitle>Stato: {{nota.status}}</ion-card-subtitle>
        <ion-card-subtitle>Utente: {{nota.technical_name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{nota.text}}
      </ion-card-content>
    </ion-card>
  </ion-list> -->
</ion-content>
