ion-toolbar {
  box-shadow: 5px 5px #88888800;
}
.rounded {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

ion-toolbar,
ion-header {
  --min-height: 40px;
}

hr {
  //height: 5px !important;
  background: black !important;
  // display: block !important;
  font-size: 2em !important;
  // opacity: 1 !important;
  // visibility: visible !important;
  margin-top: -0px;
}

.new-background-color {
  --background: rgb(44, 72, 167);
}

ion-textarea {
  margin-top: -10px !important;
}

ion-button[shape="circle"] {
  --border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
}
